body {

    font-family: 'Assistant', sans-serif;
    background-color: azure;
}

h1 {
    text-align: center;
}

p {
    text-align: right;

    font-weight: 300;

}

img {
    padding-right: 200px;
}
