body {

    font-family: 'Assistant', sans-serif;
    background-color: azure;
}

h1 {
    text-align: center;
}

p {
    text-align: right;
    font-weight: 300;
}

img {
    max-width: 80%;
    width: auto;
    height: auto;
    display: block;
    margin:auto
}

.container {
    max-width:750px;
    margin:auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;

}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

a{
    color:red;
}