body {

    font-family: 'Assistant', sans-serif;
    background-color: azure;
    margin:0;
    line-height: 1.2;                                                     
}

h1 {
    text-align: center;
}
h2 {
    font-size 36px;
}

p {
    text-align: right;
    font-weight: 300;
}

img {
    max-width: 80%;
    width: auto;
    height: auto;
    display: block;
    margin:auto
}

.container {
    max-width:750px;          
    margin:auto;
   
}
.headers{
    background :url(images/image.jpg) center;
    background-size:cover;
    color:white;
} 

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;

}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

a{
    color:red;
}