body {
    margin: 0;
    line-height: 1.4;
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.logo img {
    display: block;
    margin: auto;
}

.about {
    background: url(images/background.png) center;
    background-size: cover;
    height: 500px;
    text-align: center;
    color: white;
    margin:auto;
}

.container {
    max-width: 900px;
    margin: auto;
}

.about .container{
    display: inline-block;
}


@media (max-width: 700px) {
    .grid .empty {
        width: 0px;
    }

}

.about p {
    font-size: 36px;
    padding: 80px 0;
    
}

.info {
    
    font-weight: 400;
    background-color: #a99b9b;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    list-style-type: none;
    padding: 0;

}
img {
    max-width: 100%;
}

.pictures img {
    display: block;
    margin: auto;
}

.gallery {
    margin-top: 40px;
    font-family: 'Suez One', serif;
    font-size: 24px;
}

.gallery h2 {
    border-bottom: 4px solid;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    margin: 26px 0;
    font-size: 20px;
    color: #000;
    background-color: #c76b10;
    font-weight: 700;
}

.button:hover {
    background-color:#d28943;
}

