body {
    margin: 0;
    line-height: 1.4;
    

}

.logo img {
    display: block;
    margin: auto;
}

.about {
    background: url(images/__background.jpg) center;
    height: 500px;
    text-align: right;
    font-family: 'Suez One', serif;
    color: white;
}

.container {
    max-width: 900px;
    margin: auto;
}

.about .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 500px;

}

@media (max-width: 700px) {
    .grid .empty {
        width: 0px;
    }

}

.about p {
    padding: 60px;
    font-size: 36px;
    text-align: center;
}

.info {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    background-color:#a99b9b;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
